{% extends 'base.html' %}

{% block body %}

    <!-- Button trigger modal for Employee -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#generatePayroll{{ employees.id }}">
        Generate payroll
    </button>

    {% include 'includes/_flash.html' %}

    <div class="modal" id="generatePayroll{{ employees.id }}" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Generate payroll</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action="/generate/payroll/{{ employees.id }}" method="post">

                    <div class="form-group">
                        <label>Employee ID</label>
                        <input name="emp_id" type="text" readonly value="{{ employees.id }}" class="form-control"  >
                    </div>

                    <div class="form-group">
                          <label>Full name</label>
                        <input type="text" readonly value="{{ employees.fullName }}" class="form-control"  >
                    </div>

                    <div class="form-group">
                        <label>Basic salary</label>
                        <input name="basic" type="text" readonly value="{{ employees.basicSalary }}" class="form-control"  >
                    </div>

                    <div class="form-group">
                        <label>Benefits</label>
                        <input name="benefits" type="text" readonly value="{{ employees.benefits }}" class="form-control"  >
                    </div>

                      <div class="form-group">
                        <label for="exampleFormControlSelect2">Example multiple select</label>
                        <select  name="month" class="form-control" id="exampleFormControlSelect2">
                          <option selected disabled>Select Month</option>
                          <option value="JAN">January</option>
                          <option value="FEB">Feb</option>
                          <option value="MAR">Mar</option>
                          <option value="APR">APR</option>
                          <option value="MAY">May</option>
                          <option value="JUN">Jun</option>
                          <option value="JUL">Jul</option>
                          <option value="AUG">Aug</option>
                          <option value="SEP">Sept</option>
                          <option value="OCT">Oct</option>
                          <option value="NOV">Nov</option>
                          <option value="DEC">Dec</option>
                        </select>
                      </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
          </div>
    </div>


        {#    table #}

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">PAYROLL_ID</th>
          <th scope="col">MONTH</th>
          <th scope="col">GROSS SALARY</th>
          <th scope="col">NSSF CONTRIBUTION </th>
          <th scope="col">NHIF CONTRIBUTION </th>
          <th scope="col">TAXABLE INCOME</th>
          <th scope="col">PAYE</th>
          <th scope="col">PERSONAL-RELIEF</th>
          <th scope="col">TAX PAYABLE</th>
          <th scope="col">NET SALARY</th>
        </tr>
      </thead>
      <tbody>
        {% for payroll in payrolls  %}
        <tr>
          <th scope="row">{{ payroll.id }}</th>
          <td>{{ payroll.month }}</td>
          <td>{{ payroll.gross }}</td>
          <td>{{ payroll.nssf }}</td>
          <td>{{ payroll.nhif }}</td>
          <td>{{ payroll.taxable_income }}</td>
          <td>{{ payroll.payee }}</td>
          <td>{{ payroll.personal_relief }}</td>
          <td>{{ payroll.tax_payable }}</td>
          <td>{{ payroll.net_salary }}</td>
        </tr>
      {% endfor %}

      </tbody>
    </table>




{% endblock %}