{% extends 'base.html' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-center">
                    <h1>PAYROLL HAS SUCCESSFULLY BEEN GENERATED</h1>
                </div>
                <div class="d-flex justify-content-center">
                    <form action="/employees" method="get">
                        <button type="submit" class="btn btn-lg btn-info">GO BACK AND VIEW PAYROLL</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}